ANTHROPIC_API_KEY=sk-ant-...
RCRM_BEARER_TOKEN=
ZOOMINFO_CLIENT_ID=ca97f380-d6be-42bc-a788-2b3a8454f495
ZOOMINFO_PRIVATE_KEY_PATH=./secrets/zoominfo-private-key.pem
MAKE_API_TOKEN=
MAKE_TEAM_ID=2053152
MAKE_ORG_ID=7033146
NETLIFY_AUTH_TOKEN=
NETLIFY_SITE_ID=a92ed0bc-d4dd-4f47-a50d-820a517f2d34
